---
import 'simpledotcss/simple.css';

import '../styles/global.css';
import '../styles/layout.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
  <footer>2024 - Santiago Mondragón Gómez</footer>
</html>
